body {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

section {
    margin-bottom: 100px;
}

.header {
    text-align: center;
    background-image: url(images/cartoon-blood-donation-background_52683-70798.webp);
    background-repeat: no-repeat;
}

.h1 {
    color: white;
    font-weight: 700;
}

p {
    color: black;
    font-weight: 700;
}

#donate {
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    background-color: rgb(128, 33, 33);
    padding: 10px 40px;
}

.donate-now {
    text-align: center;
}

.p1 {
    color: dimgrey;
}


.ammount {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 100px;
    padding: 10px 10px;
}

#p2 {
    color: red;
    border: 2px solid red;
    background-color: antiquewhite;
}

.button {
    margin-left: 10px;
    border: 0;
    padding: 40px;
    border-radius: 5px;
    text-shadow: 10px 10px 10px aliceblue;
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    color: dimgray;
    border: 0;
    border-bottom: 1px solid dimgray;
    text-align: center;
}

#submit {
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(128, 33, 33);
    padding: 10px 40px;
}

#image {
    height: 40px;
    width: 40px;
}

#image2 {
    height: 40px;
    width: 40px;
}

.part-2 {
    display: flex;
}

#image1 {
    height: 40px;
    width: 40px;
}

#image3 {
    height: 40px;
    width: 40px;
}

.Donate-Plan {
    text-align: center;
}

.half-width {
    width: 20%;
    padding: 10px 10px;

    border-radius: 7px;
    margin-left: 2%;
    text-align: justify;
}

.part2 {
    background-color: #b3e2f4;
}

.part3 {
    background-color: #ffbbe5;
}

.part4 {
    background-color: #a6ace2;
}

.part1 {
    background-color: whitesmoke;
}

.description {
    color: dimgray;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}

#be-humble {
    color: red;
}

#last-item {
    color: dimgray;
    font-size: 20;
}